<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
        	<p>Het programma is in opbouw. Tot 15 mei kunt u zélf een presentatie aanmelden. Dit kan via de knop *BECOME A SPEAKER* op de homepage van deze FOSS4GNL.</p>

        	<p>Eind mei wordt het programma bekend gemaakt en (vermoedelijk stapsgewijs) hier gepresenteerd.</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
