<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
        	<p>Het programma is rond, de sprekers zijn bekend! En wat een rijkdom weer dit jaar... </p>

        	<p>Eind mei wordt ook het blokkenschema helemaal bekend gemaakt. Maar laat je vooral niet tegenhouden doordat dat er nog niet is, maar meld je aan!</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
