    <div class="content-wrapper text-left">
        <div class="col-lg-6 col-lg-offset-3">
            <p>Welkom bij de FOSS4GNL! Dit jaar verwelkomen we je op 20 juni in het hart van geo-Nederland: Delft! Op deze dag wordt je weer écht verwend, met een keur aan geo-hoogstandjes, natuurlijk allemaal *Open*.</p>

                  <p>Het programma van de conferentie is opgezet voor een breed publiek: na de algemene aftrap en keynotes is er een technische track (grotendeels in het Engels verzorgd), een gebruikerstrack (volledig Nederlands), een track met *specials* (presentaties die we als programmacommissie zeer interessant vinden, maar die niet per sé een technisch of een gebruikersverhaal zijn), en... dit jaar is er een Maptime track! In die laatste track worden drie hands-on workshops gegeven in de stijl van Maptime. We sluiten het inhoudelijke deel af met een blik achter de schermen van communitybuilding.</p>

            <p>Nog één ding: de afgelopen twee jaren hebben we een prijsbeleid gevoerd dat het voor iedereen mogelijk maakt om te komen. Dat betekende dat een normaal toegangskaartje 15 euro kostte. Daarnaast was er de mogelijkheid wat extra's te geven: een Golden Ticket kostte dan 50 euro. Daar maakten nog flink wat mensen (ongeveer 1 op 7) gebruik van. Dat heeft ertoe geleid dat we dit jaar de prijs volledig los (dat is in het oosten van het land overigens een synoniem voor open) durven te laten. We vragen dit jaar dan ook voor een ticket een donatie, die voor jou de waarde van het evenement weergeeft. We zijn heel benieuwd wat het resultaat hiervan zal zijn. Bij de opening zal dit met jullie gedeeld worden.</p>

            <p>Tot 20 juni, bij de TU Delft! Wij hopen jullie daar te zien...<br><br>
            De organisatie van de FOSS4GNL</p>

            <p>P.S. over die openinszin: ja, we weten het, er zijn meer harten van geo-Nederland, die mogen zich voor komend jaar dan aanmelden ;-)</p>
        </div>
    </div>
